body { margin: 0; font-size: 12pt; line-height: 1.231; background-image: url(../images/parchment-tile.png); min-width: 960px;}

a { color: #000; text-decoration:none;}
a:visited { color: #000; text-decoration:none;}
a:focus { outline: thin dotted; text-decoration:none;}

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { color:#fff; outline: 0; text-decoration:none;}

li a{ color:#000;}
li a:hover{ color:#fff;}

h1 {
font-size: 16pt;
/*color: #174563;*/
color:#46af2f;
font-weight: bold;
margin-top: 0px;
margin-bottom: 3px;
font-family: sans;
}


.div-table {
    display: table;
    margin-left: 5px;
    margin-top: 10px;
}
.div-table-caption {
    /*background: none repeat scroll 0 0 #43AD2F;
    color: white;*/
    display: table-caption;
    font-weight: bold;
    text-align:justify;
    margin-bottom:5px;
}
.div-table-row {
    border-bottom: 1px solid #DDD;
    padding-bottom:2px;
    padding-top:5px;
}
.div-table-col {
    display: table-cell;
    padding-left: 5px;
    width:250px;
}
.div-table-col2 {
    display: table-cell;
    padding-left: 5px;
    width:100px;
}

