$def with (data)
<!DOCTYPE html>
<html> 
  <head> 
    <title>School Profiles by MP/MLA Constituency</title>
    <link rel="icon" href="/images/favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="/css/reports.css"/>
    <link type="text/css" rel="stylesheet" href="/css/grid.css"/>
    <link type="text/css" rel="stylesheet" href="/css/learning_style.css"/>
    <style>
    .google-visualization-table-table *  { font-size:small; }
    .google-visualization-table-tr-head, .google-visualization-table-tr-head td, .google-visualization-table-tr-head-nonstrict 
    {    
      font-weight: bold;    
      background: none !important;
      text-align: center;  
      border-bottom: 1px solid #0E0E9F;
    } 
    </style> 
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script type="text/javascript" src="/js/learning.js"></script>
  </head>
  <body onload="initialise($data)" >

<div class="container container_12">
<!--======================-->
    <div class="clearheader">&nbsp;</div>
    <div class="grid_8"> 
    	<div id="constname"></div>
    </div>
    <div class="grid_4">
    <div id="reportdate" style='text-align:right; font-size:9pt'></div>
    </div>
<!------------------------->
    <div class="clear">&nbsp;</div>
    <div class="grid_7">
    	<div id="constinfo"></div>
        <div id="hiddenip"></div>
     	<div id="instcounts"></div>
    </div> 
    <div class="grid_5"> 
    <h3 style='text-align:right'><div id="rephead"></div></h3>
    </div>
<!--======================-->
    <div class="clear">&nbsp;</div>
    <div class="hr"><hr/></div>
    <div class="grid_12">
      <h3><div id='learninghead'></div></h3>
      <div id="learningintro_txt" style="text-align:justify"></div>
    </div>
<!--======================-->
    <div class="clear">&nbsp;</div>
   <div class="grid_12">
     <div id="schassess_txt" style="text-align:justify"></div>
     <div id="schgph_txt" style="text-align:justify"></div>
     <div id="schassessclass_gph" style="text-align:justify"></div>
     <div id="schassessgend_gph" style="text-align:justify"></div>
     <div id="schassesscomp_gph" style="text-align:justify"></div>
   </div>
<!--======================-->
   <div class="clear">&nbsp;</div>
   <div class="hr"><hr/></div>
    <div class="grid_12">
      <div style="text-align:right; font-size:8pt">P.T.O</div>  
    </div>
<!--======================-->
   <div class="clearbreak">&nbsp;</div>
   <br/><br/><br/>
   <div class="clear">&nbsp;</div>
   <div class="clear">&nbsp;</div>
   <div class="hr"><hr/></div>
   <div class="grid_12">
     <h3><div id='angassesshead'></div></h3>
     <div id="angassess_txt" style="text-align:justify"></div>
   </div>
   <div class="grid_12">
     <div id="angassessmore_txt" style="text-align:justify"></div>
   </div>
   <div class="grid_6">
     <div id="angassess_gph" style="text-align:justify"></div>
   </div>
   <div class="grid_2">
     <div id="angassess_boy" style="text-align:justify; padding-top:62px;"></div>
   </div>
   <div class="grid_2">
     <div id="angassess_girl" style="text-align:justify; padding-top:62px;"></div>
   </div>
   <div class="grid_2"></div>
   <div class="clear">&nbsp;</div>
   <div class="grid_6">
     <div id="angassessbang_gph" style="text-align:justify"></div>
   </div>
   <div class="grid_2">
     <div id="angassess_bang_boy" style="text-align:justify; padding-top:62px;"></div>
   </div>
   <div class="grid_2">
     <div id="angassess_bang_girl" style="text-align:justify; padding-top:62px;"></div>
   </div>
   <div class="grid_2"></div>
   <div class="grid_12">
     <div id="angexpln_txt" style="text-align:justify"></div>
   </div>
<!--======================--> 
    <div class="clear">&nbsp;</div>
    <div class="hr"><hr/></div>
    <div class="grid_12">
      <div id="source_txt" style="text-align:left; font-size:8pt"></div>  
    </div>

</div><!--container-->
  </body>
</html> 
