$def with (data)
<!DOCTYPE html>
<html> 
  <head> 
    <title>School Profiles by Boundaries</title>
    <link rel="icon" href="/images/favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="/css/reports.css"/>
    <link type="text/css" rel="stylesheet" href="/css/grid.css"/>
    <style>
    .google-visualization-table-table *  { font-size:small; }
    .google-visualization-table-tr-head, .google-visualization-table-tr-head td, .google-visualization-table-tr-head-nonstrict 
    {    
      font-weight: bold;    
      background: none !important;
      text-align: center;  
      border-bottom: 1px solid #0E0E9F;
    } 
    </style> 
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/js/nutrition.js"></script>
  </head>
  <body onload="initialise($data)" >

<div class="container container_12">
<!--======================-->
    <div class="clearheader">&nbsp;</div>
    <div class="grid_8"> 
    	<div id="constname"></div>
    </div>
    <div class="grid_4">
    <div id="reportdate" style='text-align:right; font-size:9pt'></div>
    </div>
<!------------------------->
    <div class="clear">&nbsp;</div>
    <div class="grid_7">
        <div id="hiddenip"></div>
     	<div id="instcounts"></div>
    </div> 
    <div class="grid_5"> 
    <h3 style='text-align:right'><div id="rephead"></div></h3>
    </div>
<!--======================-->
   <div class="clear">&nbsp;</div>
   <div class="hr"><hr/></div>
   <div class="grid_12">
      <h2><div id='nutinfohead'></div></h2>
      <div id="nutinfo_txt" style="text-align:justify"></div>
      <div id="nutinfo_chart"></div>
   </div>
<!--======================-->
    <div class="clear">&nbsp;</div>
    <div class="hr"><hr/></div>
    <div class="grid_12">
      <div id="source_txt" style="text-align:left; font-size:8pt"></div>  
      <div class="hr"><hr/></div>
      <div id="collab_txt" style="text-align:center; font-size:9pt"></div>  
    </div>
<!--======================-->
</div><!--container-->
  </body>
</html> 
